@{
    ViewBag.Title = "Home";
}

<h2>Welcome to our app!</h2>
@ViewBag.ErrorMessage

@if (!User.Identity.IsAuthenticated)
{
    <li><a id="qsLoginBtn" asp-controller="Account" asp-action="Login">Login</a></li>
}
else
{
    <p>@ViewBag.Timestamp</p>
}